.blog__latest,
.blog__top {
    display: none;
}

.blog__template {
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    // background: rgba(221, 220, 220, 0.363);
    background: linear-gradient(rgba(221, 220, 220, 0.363),rgba(221, 220, 220, 0.663));
    border-radius: 3%;
    a {
        display: grid;
        grid-template-rows: 1rem 2rem auto;
        grid-template-areas: "featured" "title" "description";
        text-decoration: none;
        color: inherit;
        grid-row-gap: 1rem;
    }
    .featured__picture {
        grid-area: featured;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.75rem;
        color: rgb(139, 137, 137);
    }

    .blog__title {
        grid-area: title;
        font-size: 1.6rem;
        font-weight: bold;
        color: rgb(49, 49, 49);
        text-decoration: none;
    }

    .blog__description {
        grid-area: description;
        font-family: 'Slabo 27px', serif;
    }
    &:hover,
    &:active {
        background: lightgray;
    }
}