main {
    padding: 1rem;
    .box {
        $root: &;
        position: relative;
        margin: 2rem 10%;
        a {
            width: 80%;
            text-decoration: none;
            color: inherit;
            .date__time {
                font-family: 'Montserrat', sans-serif;
                font-size: 0.75rem;
                color: rgb(139, 137, 137);
                margin-bottom: 0.5rem;
            }
    
            .blog__title {
                margin-top: 0rem;
            }
            .img__container {
                text-align: center;
                img {
                    width: 60%;
                }
            }
        }
        &:hover,
        &:active {
            border-bottom: 10px solid rgba(184, 209, 45, 1);
            border-radius: 4%;
            :before {
                content:"";
                position: absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
                background: rgba(158, 154, 154, 0.288);
                opacity: 0.1;
                z-index:1;   
            }
        }
    }
}