main {
    padding: 1rem;
    h1 {
        font-size: 2rem;
        margin: 1.5rem 0;
        text-align: center;
    }
    h2 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    p {
        font-size: 1rem;
    }

    .img__container {
        width: 100%;
        text-align: center;
        img {
            width: 80%;
        }
    }
}

.highlight {
    background-color: rgb(238, 238, 9);
}