* {
    font-family: 'Lexend Deca', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header__title {
    font-size: 1rem;
    text-align: center;
}

.main__nav {
    width: 100%;
    background: black;
    color: white;
    padding: 0.7rem;
    
    .main__nav--div {
        height: 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem;
        a {
            margin: 0 1rem;
        }

        .fa-facebook-square {
            color: rgb(40, 40, 240);
        }

        .fa-github {
            color: white;
        }

        .fa-instagram {
            color: rgba(240, 41, 240, 0.87);
        }
    }

}

.main__nav--dropdown--menu {

    .main__nav--dropdown--list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .main__nav--dropdown--list--item {
        list-style: none;
        padding: 1rem 0 0 0.5rem;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    display: none;

}

.open {
    display: block;
}